<div class="row mb-4">
  <div class="col card_wrapper">
    <div class="">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="card-1" id="table">
              <div class="card__head d-block">
                <div class="row d-flex align-items-center flex-wrap">
                  <div class="col-lg-4 mb-0">
                    <div class="card-heading">
                      <p class="h4 c--drkgry">Manage Renewal Status</p>
                    </div>
                  </div>

                  <div class="align-items-center col-lg-8 mb-0">
                    <div class="d-flex justify-content-end">
                      <app-search-input
                        (inputValue)="getSearchInputVal($event)"
                        [resetInput]="resetSearchInput"
                        [placeHolderText]="'Search...'"
                      ></app-search-input>
                      <div class="col-auto mb-0 ml-1 pr-0">
                        <div class="btns-grp">
                          <!-- <button
                            class="btn btn-success ml-1"
                            role="button"
                            *ngIf="permissionObj?.add"
                            (click)="openEditModal(addEditPriority, '')"
                          >
                            Add
                          </button> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card__body">
                <div class="card__body__container">
                  <div class="table-style table-style-1 table-layout-fixed">
                    <div class="">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col" class="w60">
                              #
                              <span
                                class="pi pi-sort short-icon"
                                (click)="updateSorting('renewal_status_id')"
                              ></span>
                            </th>
                            <th scope="col" class="w140">Actions</th>
                            <th class="col">
                              Status Name
                              <span
                                class="pi pi-sort short-icon"
                                (click)="updateSorting('status_name')"
                              ></span>
                            </th>
                            <!-- <th class="col">
                              Status Value
                              <span
                                class="pi pi-sort short-icon"
                                (click)="updateSorting('value')"
                              ></span>
                            </th> -->
                            <!-- <th class="col">
                              Status Color
                              <span
                                class="pi pi-sort short-icon"
                                (click)="updateSorting('status_color')"
                              ></span>
                            </th> -->
                            <th scope="col">
                              Created On
                              <span
                                class="pi pi-sort short-icon"
                                (click)="updateSorting('created_at')"
                              ></span>
                            </th>
                            <th scope="col">
                              Updated On
                              <span
                                class="pi pi-sort short-icon"
                                (click)="updateSorting('updated_at')"
                              ></span>
                            </th>
                            <!-- <th scope="col" class="w80">
                              Status
                              <span
                                class="pi pi-sort short-icon"
                                (click)="updateSorting('active_status')"
                              ></span>
                            </th> -->
                          </tr>
                        </thead>
                        <tbody *ngIf="renewalStatusList?.length">
                          <tr
                            *ngFor="
                              let item of renewalStatusList;
                              let i = index
                            "
                          >
                            <td>
                              {{
                                i +
                                  1 +
                                  (paginationObj.currentPage - 1) *
                                    paginationObj.limit
                              }}
                            </td>
                            <td>
                              <button
                                type="button"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title=""
                                data-bs-original-title="View"
                                class="btn btn-sm h-1 btn-view"
                                (click)="
                                  openViewModal(viewClaimsPriority, item)
                                "
                              >
                                View
                              </button>
                              <button
                                type="button"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title=""
                                *ngIf="permissionObj?.edit"
                                data-bs-original-title="Edit"
                                class="btn btn-sm h-1 btn-edit"
                                (click)="
                                  openAddEditModal(addEditPriority, item)
                                "
                              >
                                Edit
                              </button>
                              <!-- <button
                                type="button"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title=""
                                *ngIf="permissionObj?.delete"
                                data-bs-original-title="Delete"
                                class="btn btn-sm h-1 btn-del"
                                (click)="deleteRenewalStatus(item)"
                              >
                                Delete
                              </button> -->
                            </td>
                            <td>
                              <span
                                class="badge radius:tiny size:tiny padding:tiny"
                                [ngStyle]="{
                                  'background-color': item.status_color
                                    ? item?.status_color
                                    : '#BDBDBD'
                                }"
                                >{{
                                  item?.status_name
                                    ? item.status_name
                                    : "N/A"
                                }}</span
                              >
                            </td>
                            <!-- <td>{{ item?.value }}</td> -->
                            <!-- <td>
                              <span
                                class="badge radius:tiny size:tiny padding:tiny"
                                [ngStyle]="{
                                  'background-color': item.status_color
                                    ? item?.status_color
                                    : '#BDBDBD'
                                }"
                                >{{
                                  item?.status_color
                                    ? item?.status_color
                                    : "N/A"
                                }}</span
                              >
                            </td> -->
                            <td>
                              {{ item?.created_at | date : "MM-dd-YYYY hh:mm" }}
                            </td>
                            <td>
                              {{ item?.updated_at | date : "MM-dd-YYYY hh:mm" }}
                            </td>
                            <!-- <td>
                              <div
                                class="form-check form-switch form-switch-sm"
                              >
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  id="{{ item.renewal_status_id }}-status"
                                  (click)="changeActivationStatus($event, item)"
                                  [checked]="item.active_status"
                                />
                              </div>
                            </td> -->
                          </tr>
                        </tbody>
                        <tbody *ngIf="renewalStatusList?.length == 0">
                          <tr>
                            <td colspan="10" class="text-center">
                              No data found
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <span>
                    <p-paginator
                      (onPageChange)="paginate($event)"
                      [first]="paginationObj.first"
                      [rows]="paginationObj.limit"
                      [totalRecords]="paginationObj.total"
                      [rowsPerPageOptions]="itemPerPageDropdown"
                    ></p-paginator>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ================ VIEW RENEWAL STATUS DETAILS  ==================== -->

<ng-template #viewClaimsPriority>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Renewal Status Details</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="viewModalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="fee-details">
      <ul>
        <li>Status Name :</li>
        <li>
          <span
            class="badge radius:tiny size:tiny padding:tiny"
            [ngStyle]="{
              'background-color': viewObj.status_color
                ? viewObj?.status_color
                : '#BDBDBD'
            }"
            >{{ viewObj?.status_name ? viewObj?.status_name : "N/A" }}</span
          >
        </li>
      </ul>
      <ul>
        <li>Status Value :</li>
        <li>{{ viewObj?.value }}</li>
      </ul>
      <!-- <ul>
        <li>Status :</li>
        <li>
          <span
            class="badge st-actv radius:tiny size:tiny padding:tiny"
            *ngIf="viewObj.active_status == 1"
            >Active</span
          >
          <span
            class="badge st-inactv radius:tiny size:tiny padding:tiny"
            *ngIf="viewObj.active_status !== 1"
            >Inactive</span
          >
        </li>
      </ul> -->
      <ul>
        <li>Created On :</li>
        <li>{{ viewObj?.created_at | date : "MM-dd-YYYY" }}</li>
      </ul>
      <ul>
        <li>Updated On :</li>
        <li>{{ viewObj?.updated_at | date : "MM-dd-YYYY" }}</li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="viewModalRef?.hide()"
    >
      Close
    </button>
    <button
      type="button"
      class="btn btn-sm btn-primary"
      *ngIf="permissionObj?.edit"
      (click)="openEditModal(addEditPriority, viewObj)"
    >
      <i class="pi pi-pencil"></i> Edit
    </button>
  </div>
</ng-template>

<!-- ================ ADD/EDIT Status  ==================== -->

<ng-template #addEditPriority>
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{ isEdit ? "Edit" : "Add" }} Renewal Status
    </h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="closeAddEditModal()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <form
    [formGroup]="renewalStatusForm"
    class="form-style flow-rootX app-form unauth-form-max-w"
    (ngSubmit)="onSubmit()"
  >
    <div class="modal-body">
      <div class="form-style">
        <div class="row">
          <div class="col-12 mb-0">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                formControlName="statusName"
                placeholder="Enter status name..."
              />
              <label class="form-label"
                >Status Name<span class="c--error">*</span></label
              >
              <app-validation-error
                [control]="f['statusName']"
              ></app-validation-error>
            </div>
          </div>
          <div class="col-12 mb-0">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                formControlName="statusValue"
                (input)="allowOnlyNumber($event)"
                placeholder="Enter the value..."
                [ngClass]="isEdit?'disabled':''"
              />
              <label class="form-label"
                >Status Value<span class="c--error">*</span></label
              >
              <app-validation-error
                [control]="f['statusValue']"
              ></app-validation-error>
            </div>
          </div>
          <div class="col-12 mb-0">
            <label class="form-label"
              >Status color<span class="c--error">*</span></label
            >
            <div class="form-floating">
              <ngx-colors
                ngx-colors-trigger
                style="display: inline-block; margin: 5px"
                formControlName="statusColor"
              ></ngx-colors>
              <app-validation-error
                [control]="f['statusColor']"
              ></app-validation-error>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-sm btn-secondary"
        (click)="closeAddEditModal()"
      >
        Close
      </button>
      <button type="submit" class="btn btn-sm btn-primary" [disabled]="loading">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm me-1"
        ></span
        >{{ isEdit ? "Update" : "Add" }}
      </button>
    </div>
  </form>
</ng-template>
