<div class="bg-login">
    <app-alert-message></app-alert-message>
        <router-outlet></router-outlet>
        <footer class="footer flow-rootx4 border-0 shadow-none bg-transparent text-center justify-content-center">
            <p class="text-center">© {{currentYear}} First Premier Home Warranty. All Rights Reserved.</p>
            <!-- <div class="small">App version {{appVersion}}</div> -->
            <!-- <span class="small">Dated {{buildTimestamp | date: 'dd-MM-yyyy HH:mm:ss'}}</span> -->
        </footer>
</div>
    