<div class="container">
    <div class="row my-4">
        <div class="col-md-12">
            <div class="Unauthorized">
                <div class="text-center">
                    <figure class="lock">
                        <img src="assets/img/lock.png" alt="">
                      
                    </figure>
                    <h2 class="h1">Access Denied </h2>
                    <p>Yout don't have the perimission to view this page. Please contact system admin.</p>
                    <!-- <a class="btn btn-success mt-3 text-uppercase" href="{{baseUrl}}dashboard">Back to dashboard</a> -->
                    <button class="btn btn-success mt-3 text-uppercase" (click)="goToHome()">Back to dashboard</button>
                </div>
            </div>
        </div>
    </div>
</div>