<!-- table.component.html -->
<div class="table-style table-style-1 table-layout-fixed">
    <div class="">
        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let header of tableHeaderData">{{ header }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of tableBodyData" [ngClass]="row.is_anamaly==1 ? 'anamaly': ''">
                    <ng-container *ngFor="let header of tableHeaderData">
                        <td *ngIf="header!='Policy Number'">{{ row[header] }}</td>
                        <td *ngIf="header=='Policy Number'"><span (click)="navigateToCustomerDetails(row.customer_id)" class="py-1 c--mdSky" role="button">{{row[header]}}</span></td>
                    </ng-container>
                  </tr>
            </tbody>
            <tbody *ngIf="tableBodyData?.length==0">
                <tr>
                    <td colspan="14" class="text-center">No data found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>