.tooltip { color:#fff; background-color:#222223; position:absolute; top:-120%; right:-52px; z-index:5; border:1px solid gray; padding:10px 12px; display:none;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.29);
    }
    
    .tooltip:after {     
         bottom: 50%;
        left: -8px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
         border-color: rgba(255,255,255,0);
        /*border-bottom-color: #000;*/
         border-right-color:#222223;
        border-width: 8px;
        margin-left: -8px;
    }

    .fail { color:red; }
    .pass { color:green; }