




<div class="sds-product__admin">
  <section class="login__wrapper">
    <div class="login__block">
      <div class="login-left">
        <div class="left-img">
          <img src="./assets/img/login-logo.webp" alt="First Premier Home Warranty" title="First Premier Home Warranty" />
        </div>
      </div>
      <div class="login-right">
        <div class="login-container">
          <div class="login-inside">
            <div class="logos">
              <img class="logo-light" src="./assets/img/logo.webp" alt="First Premier Home Warranty" title="First Premier Home Warranty"/>
              <img class="logo-dark" src="./assets/img/logo-white.webp" alt="First Premier Home Warranty" title="First Premier Home Warranty"/>
            </div>
            <div class="log_form_hdng flow-rootx4">
              
              <h4 class="h5">Reset your password</h4>
            </div>
            
            <article class="flow-rootx">
              <!-- <h2 class="h1">Welcome</h2>
                <p class="h5">Please sign-in to your account and start the adventure</p> -->
              <form [formGroup]="fpForm" class="form-style flow-rootX app-form unauth-form-max-w"
                (ngSubmit)="onSubmit()">

             
                
                <div class="form-floating">
                  <input type="text" id="email" class="form-control" formControlName="emailId"
                    [ngClass]="{ 'is-invalid': submitted && f['emailId'].errors }">
                    <label class="form-label" for="email">Email<span class="c--error">*</span></label> 
                  <app-validation-error [control]="f['emailId']"></app-validation-error>
                </div>
                
                <div class="form-floating mb-0">
                  <button type="submit" class="btn btn-primary w-100 log-btn" [disabled]="loading">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Reset Password
                  </button>
                </div>
                <div class="form-floating forgot-password text-center">
                  <a class="c2a-underline" routerLink="/auth/login">Back to Login</a>
                </div>
              </form>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>


  
  
</div>